.table-container{
    max-width:1100px;
    margin:25px auto;
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 4px 15px rgba(0,0,0,0.08);
}

.table-container h2{
    text-align:center;
    color:#2563eb;
}

.search{
    display:block;
    margin-left:auto;
    width:300px;
    padding:10px;
    border:1px solid #d1d5db;
    border-radius:8px;
}

.table{
    width:100%;
    border-collapse:collapse;
}

thead{
    background:#2563eb;
    color:white;
}

th,
td{
    padding:14px;
    text-align:center;
    border-bottom:1px solid #e5e7eb;
}

tbody tr:nth-child(even){
    background:#f8fafc;
}

tbody tr:hover{
    background:#eef4ff;
}

.btnupdate,
.btnsave,
.btndelete{
    border:none;
    padding:8px 14px;
    border-radius:6px;
    color:white;
    cursor:pointer;
}

.btnupdate{
    background:#2563eb;
}

.btnsave{
    background:#16a34a;
}

.btndelete{
    background:#dc2626;
}